@charset 'UTF-8';
{
	/* 
 	* name: money.css
	* author：Saint Near
 	* edit: 2017.06.07
	*/
}
*[sex='1'] {
	border: 1px solid #00a0e9;
}
*[sex='2'] {
	border: 1px solid #fe557b;
}
body::-webkit-scrollbar {
	width: 0;
}
body {
	background-color: #fff;
	height: 100%;
	min-height: 325px;
	width: 100%;
	overflow-y: scroll;
}
div.mask {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99;
	display: none;
}
div.money {
	height: 100px;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	background: rgba(255, 255, 255, 0.96);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: absolute;
	left: 20px;
	top: 72px;
	-webkit-box-shadow: 0 3px 10px #ddd;
	-moz-box-shadow: 0 3px 10px #ddd;
	box-shadow: 0 3px 10px #ddd;
	padding: 25px 20px;
	z-index: 9999;
	-webkit-transition: height 0.3s;
	-o-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}
div.money.active {
	height: -webkit-calc(100% - 92px);
	height: -moz-calc(100% - 92px);
	height: calc(100% - 92px);
	min-height: 235px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
div.money > span.title {
	display: none;
	position: fixed;
	width: 100%;
	height: 72px;
	top: 0;
	left: 0;
	line-height: 72px;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	pointer-events: none;
}
div.money.active > span.title {
	display: block;
}
div.money > h5 {
	color: #333;
	font-size: 1.3rem;
	font-weight: 100;
	line-height: 20px;
}
div.money > h4 {
	color: #f1c40f;
	font-size: 2.8rem;
	line-height: 30px;
}
div.money > a.openBtn {
	position: absolute;
	top: 25px;
	right: 0;
	height: 50px;
	width: 25%;
	border-left: 1px solid #ccc;
	line-height: 50px;
	text-align: center;
	color: #f1c40f;
	font-size: 1.6rem;
}
div.money.active > a.openBtn {
	display: none;
}
div.money > a.closeBtn {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	font-size: 2.4rem;
	line-height: 40px;
	text-align: center;
	color: #333;
	font-size: 1.6rem;
	z-index: 2;
}
div.money.active > a.closeBtn {
	display: block;
}
div.money > div.getContainer {
	margin-top: 20px;
	width: -webkit-calc(100% + 20px);
	width: -moz-calc(100% + 20px);
	width: calc(100% + 20px);
	height: -webkit-calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: calc(100% - 100px);
	overflow-y: scroll;
	display: none;
}
div.money.active > div.getContainer {
	display: block;
}
div.money > div.getContainer > div {
	position: absolute;
	display: block;
	bottom: 10px;
	left: 0px;
	width: 100%;
}
div.money > div.getContainer > div > a {
	display: inline-block;
	float: left;
	height: 32px;
	width: -webkit-calc(50% - 15px);
	width: -moz-calc(50% - 15px);
	width: calc(50% - 15px);
	line-height: 32px;
	margin: 0 5px 0 10px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f1c40f;
	color: #fff;
}
div.money > div.getContainer > div > a.closeBtn {
	margin: 0 10px 0 5px;
	background: #ccc;
}
div.money > div.getContainer > ul {
	width: 100%;
}
div.money > div.getContainer > ul > li {
	border-top: 1px solid #eee;
	padding: 10px 0;
}
div.money > div.getContainer > ul > li > span {
	display: block;
	font-size: 1.2rem;
	color: #666;
	line-height: 26px;
	margin-bottom: 5px;
}
div.money > div.getContainer > ul > li > label {
	width: 100%;
	padding-right: 20px;
	color: #333;
	font-size: 1.4rem;
}
div.money > div.getContainer > ul > li > label > input {
	background: none;
	outline: none;
	border: none;
}
div.money > div.getContainer > ul > li > label > i {
	display: inline-block;
	height: 32px;
	width: 32px;
	text-align: center;
	line-height: 32px;
	background: rgb(38, 144, 52);
	color: #fff;
	font-size: 1.8rem;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
div.money > div.getContainer > ul > li > h5 {
	line-height: 24px;
	font-size: 1.2rem;
	color: #666;
}
section.title {
	height: 200px;
	width: 100%;
	padding: 0;
	position: relative;
}
section.title > div.bg {
	background-image: url(http://balabalafun.b0.upaiyun.com/chat_phone/images/money-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center bottom;
	height: 150px;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
section.title > a.back {
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	height: 32px;
	width: 32px;
	font-size: 2.4rem;
	text-align: center;
	line-height: 32px;
	color: #fff;
}
section.title > span {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 32px;
	display: block;
	color: #fff;
	line-height: 32px;
	padding-right: 40px;
}
section.title > span > i {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 32px;
	width: 32px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
section.list {
	width: 100%;
	height: -webkit-calc(100% - 200px);
	height: -moz-calc(100% - 200px);
	height: calc(100% - 200px);
	overflow: hidden;
}
section.list > h5 {
	padding-left: 20px;
	color: #999;
	font-size: 1.3rem;
	line-height: 20px;
	border-bottom: 1px solid #eee;
}
section.list > ul {
	overflow-y: scroll;
	height: -webkit-calc(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: calc(100% - 20px);
	padding-left: 20px;
}
section.list > ul > li {
	width: 100%;
	height: 58px;
	padding: 9px 0 9px 42px;
	border-bottom: 1px solid #eee;
	position: relative;
}
section.list > ul > li > i {
	position: absolute;
	left: 0;
	top: 14px;
	height: 32px;
	width: 32px;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
section.list > ul > li.gift > i {
	background-image: url(http://balabalafun.b0.upaiyun.com/chat_phone/images/icon-ds.png);
}
section.list > ul > li.rebBag > i {
	background-image: url(http://balabalafun.b0.upaiyun.com/chat_phone/images/icon-hb.png);
}
section.list > ul > li.getCash > i {
	background-image: url(http://balabalafun.b0.upaiyun.com/chat_phone/images/icon-getCash.png);
}
section.list > ul > li > h5 {
	line-height: 25px;
	font-size: 1.4rem;
	color: #333;
}
section.list > ul > li > h6 {
	line-height: 15px;
	font-weight: 100;
	color: #333;
	font-size: 1.2rem;
}
section.list > ul > li > span {
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	color: #333;
	font-weight: bold;
	line-height: 58px;
	font-size: 1.6rem
}
